@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

element.style{
    margin: 375px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root{
    font-size: 62.5%;
    --Citrine-White: #FAF7D6;
    --Romance: #FFFEFD;
    --Golden-Glow: #FDE295;
    --Ligh-Mustard: #f7d560;
    --Brass: #C0A54B;
    --Oyster-Pink: #E2D4C6;
    --Bone: #E1DDC5;
    --Amour:#F9EAF3;
}

body{
    font-size: 1.6rem;
    background: var(--Citrine-White);
}

header{
    padding-top: 5rem;
    padding-bottom: 4rem;

    display: flex;
    justify-content: center;
}

main{
    background: var(--Romance);
    padding-inline: 3.2rem 2.4rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.info{
padding-inline: .8rem;

div{

    margin-bottom: 3.2rem;
}

stong{
color:var(--Golden-Glow);
display: block;
margin-bottom: .6rem;

}
 .input-box{
    background: var(--Ligh-Mustard);
    padding: .6rem 1.8rem;
    align-items: center;
 }

input{
    font-size: 2.4rem;
    border: none;
    background: transparent;
    text-align: right;
    width: 100%;
    font-weight: 700;
    outline: none;
    color:var(--Brass);
}

input::placeholder{
color: var(--Brass);
opacity: 0.35;
}

.input-box:has(input:focus){
outline: 2px solid var(--Oyster-Pink);

}

.tip div {
display: grid;
grid-template-columns: repeat(2,1fr);
gap:1.6rem;
margin-top: .8rem;

button{
    font-size: 2.4rem;
    color: var(--Romance);
    font-weight: 700;
    border:none;
    border-radius: .5rem;
    padding-block: .6rem;
    background: var(--Brass);
}

input{
width: 100%;
font-size: 2.4rem;
text-align: center;
font-weight: 700;
border:none;
color: var(--Bone);
background: var(--Romance);
border-radius: .5rem;
 }

input::placeholder{
    color: var(--Bone);
 }

input:focus{
    outline: 2px solid var(--Golden-Glow);
 }

   }
}

.resulte{
background: var(--Oyster-Pink);
border-radius: 1.5rem;

}